:root {
  --branding-color: black;
  --heading-font-family: "Amaranth";
  --default-font-family: "Poppins";
}

html,
body {
  width: 100%;
  height: auto;
}

body {
  background: linear-gradient(
    -45deg,
    #ee765228,
    #e73c7e2e,
    #23a5d534,
    #23d5ab35
  );
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

body {
  font-family: var(--default-font-family);
}

h1,
h2,
h3,
p {
  color: var(--branding-color);
  text-align: center;
}

p {
  font-size: 20px;
  line-height: 40px;
  font-weight: 200;
  padding: 20px;
}

.container.hero {
  margin-top: 100px;
}

.white-card {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50px;
  height: 100%;
}

.introduction {
  width: 93%;
}

.hero h1 {
  font-size: 64px;
  font-family: var(--heading-font-family);
  padding-top: 20px;
  font-weight: bold;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(249, 57, 170) 9.8%,
    rgb(134, 176, 255) 94.9%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.hero h2 {
  font-size: 28px;
  font-weight: 900;
  padding-bottom: 36px;
  font-family: "Nunito";
  color: rgba(68, 0, 119, 0.3);
}

h2.content-title {
  font-size: 48px;
  font-family: var(--heading-font-family);
  padding-top: 20px;
  font-weight: bold;
}

h3.content-subtitle {
  font-size: 18px;
  font-family: "Nunito";
  font-weight: bold;
}

div.window {
  width: 337px;
  height: 337px;
  box-shadow: inset 0px 0px 10px rgb(0 0 0 / 20%);
  object-fit: cover;
  border-radius: 50%;
  margin: 0 auto;
  margin-top: 30px;
}

div.bitmoji-hello {
  background: url(/images/the-raf-bitmoji-hello.png);
  background-position: 0% 80%;
  background-size: 500px;
}

div.bitmoji-aboutme {
  background: url(/images/the-raf-bitmoji-aboutme.png);
  background-position: 50% -35%;
  background-size: 350px;
}

div.bitmoji-projects {
  background: url(/images/the-raf-bitmoji-projects.png);
  background-position: 50% 25%;
  background-size: 350px;
}

div.bitmoji-contact {
  background: url(/images/the-raf-bitmoji-contact.png);
  background-position: 50% 0%;
  background-size: 350px;
}

div.basic-page-img {
  background: url(/images/the-raf-project-basicpage.png);
}

div.weather-app-img {
  background: url(/images/the-raf-project-weatherapp.png);
}

div.see-through-card {
  background-size: cover;
  filter: drop-shadow(0px 0px 21px pink);
  opacity: 50%;
  transition: opacity ease-out 1s;
}

div.reveal-card:hover {
  opacity: 100%;
  cursor: none;
  transition: opacity 2s;
}

.contact-button {
  padding: 20px;
}

.btn-branding {
  color: white;
  background: var(--branding-color);
  border: 1px solid #ffffff;
  border-radius: 50px;
  padding: 18px 30px;
}

footer .social-links a {
  margin: 0 20px;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(249, 57, 170) 9.8%,
    rgb(134, 176, 255) 94.9%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  padding: 10px 0px;
  opacity: 50%;
  filter: drop-shadow(0px 0px 10px pink);
}

footer .social-links a:hover {
  opacity: 100%;
  transition: opacity 1s;
}

@media (max-width: 576px) {
  div.window {
    width: 280px;
    height: 280px;
  }
}

@media (max-width: 576px) {
  div.bitmoji-aboutme {
    width: 280px;
    height: 280px;
    background-position: 50% 0%;
    background-size: 300px;
  }
}

@media (max-width: 576px) {
  h1.hero {
    font-size: 48px;
    line-height: 1;
  }
}

@media (max-width: 576px) {
  h2.content-title {
    font-size: 30px;
    line-height: 1;
  }
}

@media (max-width: 576px) {
  h3.content-subtitle {
    font-size: 14px;
    line-height: 1;
  }
}

@media (max-width: 576px) {
  .btn-branding {
    width: 100%;
    text-align: center;
  }
}

.typing-animation {
  animation: typing 2s steps(15, end);
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  width: 100%;
}

@keyframes typing {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

@keyframes social-links {
  0% {
    transform: scale(1) translateY(0);
  }
  20% {
    transform: scale(1) translateY(-5px);
  }
  30% {
    transform: scale(1) translateY(5px);
  }
  50% {
    transform: scale(1) translateY(-5px);
  }
  60% {
    transform: scale(1) translateY(5px);
  }
  100% {
    transform: scale(1) translateY(0);
  }
}
